
@{
    ViewBag.Title = "Рацарская Свеча";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/ric.jpg" /></li>
<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/HEPmA9jxR8Y.jpg" /></li>
<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/hO5oIV31Hzg.jpg" /></li>
<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/kfw7QUAg02o.jpg" /></li>
<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/LVdT9o33iVI.jpg" /></li>
<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/NGRDI9Od_Qw.jpg" /></li>
<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/NVyC5nDWttI.jpg" /></li>
<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/swucrDZwaDY.jpg" /></li>
<li><img alt="Рацарская Свеча" src="~/Content/Img/repertory/candle/vU9gAKA3yzc.jpg" /></li>