@{
    ViewBag.title = "Пять историй любви";
    Layout="~/Views/Shared/_LayoutGallery.cshtml";
}

<li><img alt="Пять историй любви" src="~/Content/Img/repertory/fiveStory/p.jpg" /></li>

<li><img alt="5 историй любви" src="~/Content/Img/repertory/fiveStory/1XGiM8j5Wng.jpg" /></li>

<li><img alt="Пять историй любви" src="~/Content/Img/repertory/fiveStory/Dv1CEoLL4CU.jpg" /></li>

<li><img alt="5 историй любви" src="~/Content/Img/repertory/fiveStory/f9Q29QLASoA.jpg" /></li>