
@{
    ViewBag.Title = "Сердце хранимое";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<li><img alt="Сердце хранимое" src="~/Content/Img/repertory/heart/e.jpg" /></li>
<li><img alt="Сердце хранимое" src="~/Content/Img/repertory/heart/-b1xco5OfMU.jpg" /></li>
<li><img alt="Сердце хранимое" src="~/Content/Img/repertory/heart/5XP3DUxpIy4.jpg" /></li>
<li><img alt="Сердце хранимое" src="~/Content/Img/repertory/heart/8Esv0yKPm68.jpg" /></li>
<li><img alt="Сердце хранимое" src="~/Content/Img/repertory/heart/8oL-0FLn0O0.jpg" /></li>
<li><img alt="Сердце хранимое" src="~/Content/Img/repertory/heart/XtPSCnBngkU.jpg" /></li>

