
@{
    ViewBag.Title = "Ты особенный";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<li><img alt="Ты особенный" src="~/Content/img/repertory/notnormal/c.jpg" /></li>
<li><img alt="Ты особенный" src="~/Content/img/repertory/notnormal/BQa4arKHT6w.jpg" /></li>
<li><img alt="Ты особенный" src="~/Content/img/repertory/notnormal/CPyaDk56CLU.jpg" /></li>
<li><img alt="Ты особенный" src="~/Content/img/repertory/notnormal/E4Dluf1Cu_I.jpg" /></li>
<li><img alt="Ты особенный" src="~/Content/img/repertory/notnormal/Q-Z6ECPrr3k.jpg" /></li>
<li><img alt="Ты особенный" src="~/Content/img/repertory/notnormal/WwNT64vwMCE.jpg" /></li>