
@{
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}
@{ViewBag.title = "Поллианна"; }

<li><img alt="поллианна" src="~/Content/img/repertory/pollianna/poll.jpg" /></li>
<li><img alt="поллианна" src="~/Content/img/repertory/pollianna/4on1RAolh1.jpg"/></li>
<li><img alt="поллианна" src="~/Content/img/repertory/pollianna/ki9IOlYmH.jpg" /></li>
<li><img alt="поллианна" src="~/Content/img/repertory/pollianna/OW1VMnuuKS.jpg" /></li>
<li><img alt="поллианна" src="~/Content/img/repertory/pollianna/VQFg2nZu3O.jpg" /></li>
<li><img alt="поллианна" src="~/Content/img/repertory/pollianna/ZMT2iIqMAq.jpg" /></li>


        

