
@{
    ViewBag.Title = "Чем люди живы?";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<li><img alt="Чем люди живы?" src="~/Content/IMG/repertory/whypeoplelive/k.jpg"/></li>
<li><img alt="Чем люди живы?" src="~/Content/IMG/repertory/whypeoplelive/BNwbMKP0GgA.jpg" /></li>
<li><img alt="Чем люди живы?" src="~/Content/IMG/repertory/whypeoplelive/brLrKc3YnjE.jpg" /></li>
<li><img alt="Чем люди живы?" src="~/Content/IMG/repertory/whypeoplelive/DAZwI4rowmQ.jpg" /></li>
<li><img alt="Чем люди живы?" src="~/Content/IMG/repertory/whypeoplelive/gBSzLF3v9eg.jpg" /></li>
<li><img alt="Чем люди живы?" src="~/Content/IMG/repertory/whypeoplelive/ipjWlchxE0o.jpg" /></li>
<li><img alt="Чем люди живы?" src="~/Content/IMG/repertory/whypeoplelive/RZadgLQwkUk.jpg" /></li>
<li><img alt="Чем люди живы?" src="~/Content/IMG/repertory/whypeoplelive/zynPJeQd-WM.jpg" /></li>