
@{
    ViewBag.Title = "О Театре";
    Layout = null;
}
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="~/Content/AboutStyle.css" rel="stylesheet" type="text/Scss">
    <script type="text/javascript" src="~/Scripts/MouseOutOverScript.js"></script>
</head>

<body>

    <div id="HeadDiv" style="left: 0px; top: 0px; width: 1120px; height: 94px;">
        <img alt="" height="840" src="~/Content/Img/about/about.jpg" width="1120" id="BossImg" style="left: 7px; top: -18px">
        <a href="/Home/Contacts">
            <img alt="" height="74" src="~/Content/Img/about/Админ.png" width="217" id="Админ" onmouseout="ImgMouseOutForAll('Админ')" onmouseover="    ImgMouseOverForAll('Админ')">
        </a>
        <a href="/Home/Index">
            <img alt="" height="88" src="~/Content/Img/about/Спб.png" width="352" id="Спб" onmouseout="ImgMouseOutForAll('Спб')" onmouseover="    ImgMouseOverForAll('Спб')">
        </a>
        
            <img alt="" height="87" src="~/Content/Img/about/ОТеатре.png" width="203" id="ОТеатре" >
       
        <a href="/Home/Index">
            <img alt="" height="80" src="~/Content/Img/about/ГлавноеMеню.png" width="285" id="ГлавноеMеню" onmouseout="ImgMouseOutForAll('ГлавноеMеню')" onmouseover="    ImgMouseOverForAll('ГлавноеMеню')">
        </a>
</div>

</body>

</html>


