
@{
    Layout = "~/Views/Shared/_LayoutRepertory.cshtml";
    ViewBag.Title = "Building";
}

<h2>Building</h2>
<h1>Страница находится в стадии разработки!</h1><br><br>
<h1><a href="/Home/Index">Перейти на главную страницу</a></h1>


