@{
    Layout = null;
}
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="~/Content/indexStyle.css" rel="stylesheet" type="text/Scss">
    <script type="text/javascript" src="~/Scripts/MouseOutOverScript.js"></script>
    <title>С миру по нитке</title>
</head>

<body>

    <div id="HeadDiv">
        <img alt="" src="~/Content/Img/index/Фон.jpg" height="840" width="1120" id="BossImg">

        <a href="/Home/Reports">
            <img alt="" src="~/Content/Img/index/Отчеты.png" height="45" width="135" id="Отчеты" onMouseOut="ImgMouseOutForAll('Отчеты')" onMouseOver="ImgMouseOverForAll('Отчеты')">
        </a>

        <a href="/Home/Partners">
            <img alt="" src="~/Content/Img/index/Партнеры.png" height="47" width="191" id="Партнеры"  onMouseOut="ImgMouseOutForAll('Партнеры')" onMouseOver="    ImgMouseOverForAll('Партнеры')">
        </a>

        <!-- Когда будет готов контролер "news" перенаправить туда-->
        <a href="/Home/Error">        
            <img alt="" src="~/Content/Img/index/Новости.png" height="61" width="158" id="Новости"  onmouseout="ImgMouseOutForAll('Новости')" onMouseOver="    ImgMouseOverForAll('Новости')">
        </a>

        <a href="/Home/Contacts">
            <img alt="" src="~/Content/Img/index/Контакты.png" width="180" height="58" id="Котнакты"  onmouseout="ImgMouseOutForAll('Котнакты')" onMouseOver="    ImgMouseOverForAll('Котнакты')">
        </a>

        <a href="/Home/People">
            <img alt="" src="~/Content/Img/index/Люди театра.png" width="217" height="51" id="Люди" onmouseout="ImgMouseOutForAll('Люди')" onMouseOver="    ImgMouseOverForAll('Люди')">
        </a>

        <a href="/Home/Afisha">
            <img alt="" src="~/Content/Img/index/Афиша.png" width="135" height="54" id="Афиша"  onmouseout="ImgMouseOutForAll('Афиша')" onMouseOver="    ImgMouseOverForAll('Афиша')">
        </a>

        <a href="/Home/Repertory">
            <img alt="" src="~/Content/Img/index/Репертуар.png" width="165" height="51" id="Репертуар" onmouseout="ImgMouseOutForAll('Репертуар')" onMouseOver="    ImgMouseOverForAll('Репертуар')">
        </a>

        <a href="/Home/About">
            <img alt="" src="~/Content/Img/index/О театре.png" width="147" height="47" id="Отеатре"  onmouseout="ImgMouseOutForAll('Отеатре')" onMouseOver="    ImgMouseOverForAll('Отеатре')">
        </a>

        <img alt="" src="~/Content/Img/index/театр студия.png" width="207" height="82" id="ТеатрСтудия">
        <a href="/Home/Index"><div id="СМиру"></div></a>
        <a href="/Home/Index"><div id="СПБ"></div></a>

    </div>


</body>

</html>


