
@{
    ViewBag.Title = "Партнеры";
    Layout = null;
}

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="~/Content/PartnersStyle.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/MouseOutOverScript.js"></script>
    <title>Партнеры</title>
</head>

<body>

    <div id="HeadDiv" style="left: 0px; top: 0px; width: 1120px; height: 94px;">
        <img alt="" height="840" src="~/Content/Img/partners/партнерыФон.jpg" width="1120" id="BossImg" style="left: 7px; top: -18px">

        <a href="/Home/Contacts">
        <img alt="" height="74" src="~/Content/Img/partners/Админ.png" width="217" id="Админ" onmouseout="ImgMouseOutForAll('Админ')" onmouseover="    ImgMouseOverForAll('Админ')">
        </a>
        <a href="/Home/Index">
        <img alt="" height="88" src="~/Content/Img/partners/Спб.png" width="352" id="Спб" onmouseout="ImgMouseOutForAll('Спб')" onmouseover="    ImgMouseOverForAll('Спб')">
        </a>
        
        <img alt="" height="87" src="~/Content/Img/partners/ПартнерыНадпись.png" width="203" id="ПартнерыНадпись">
      
        <a href="/Home/Index">
        <img alt="" height="80" src="~/Content/Img/partners/ГлавноеMеню.png" width="285" id="ГлавноеMеню" onmouseout="ImgMouseOutForAll('ГлавноеMеню')" onmouseover="    ImgMouseOverForAll('ГлавноеMеню')">
        </a>

        <a href="http://pkcentr.ru/"><div id="ПКЦ"></div></a>
        <a href="http://www.gruzovichkof.ru/"><div id="Груз"></div></a>
    </div>

</body>




