
@{
    Layout = null;
    ViewBag.Title = "Репертуар";
}

<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="~/Content/repertoryStyle.css" rel="stylesheet" type="text/Scss">
    <script type="text/javascript" src="~/Scripts/repertoryScript.js"></script>

    <title>Репертуар</title>
</head>

<body>
    <div id="Boss">

        <img alt="" src="~/Content/Img/repertory/РепертуарФон.jpg" id="Фон" width="1120" height="840">

        <a href="/Home/Repertory">
            <img alt="" src="~/Content/Img/repertory/РепертуарНадпись.png" id="Репертуар" height="124" width="291">
        </a>

        <a href="/Repertory/NotNormal">
            <img alt="" src="~/Content/Img/repertory/Ты особенный.png" id="ТыОсобенный" height="37" width="247" name="ТыОсобенный" onmouseout="ImgMouseOutTO()" onmouseover="ImgMouseOverTO()">
        </a>

        <a href="/Repertory/WhyPeopleLive">
            <img alt="" src="~/Content/Img/repertory/Чем люди живы.png" id="ЧемЛюдиЖивы" height="36" width="242" name="ЧемЛюдиЖивы" onmouseout="ImgMouseOutCHLG()" onmouseover="ImgMouseOverCHLG()">
        </a>

        <a href="/Repertory/Heart">
            <img alt="" src="~/Content/Img/repertory/Сердце хранимое.png" id="СердцеХранимое" height="32" width="247" name="СердцеХранимое" onmouseout="ImgMouseOutCX()" onmouseover="ImgMouseOverCX()" style="left: 742px; top: 222px">
        </a>

        <a href="/Repertory/Five">
            <img alt="" src="~/Content/Img/repertory/5 историй любви.png" id="ПятьИсторийЛюбви" height="34" width="256" name="ПятьИсторийЛюбви" onmouseout="ImgMouseOutPIL()" onmouseover="ImgMouseOverPIL()">
        </a>

        <a href="/Repertory/Pollianna">
            <img alt="" src="~/Content/Img/repertory/ПоллианнаНадпись.png" id="Поллианна" height="36" width="263" name="Поллианна" onmouseout="ImgMouseOutP()" onmouseover="ImgMouseOverP()">
        </a>

        <a href="/Repertory/Candle">
            <img alt="" src="~/Content/Img/repertory/Рыцарская свеча.png" id="РыцарскаяСвеча" height="40" width="252" name="РыцарскаяСвеча" onmouseout="ImgMouseOutRC()" onmouseover="ImgMouseOverRC()">
        </a>

        <a href="/Repertory/Candle"><div id="DivCrousider"></div></a>
        <a href="/Repertory/Five"><div id="DivFiveStoryLove"></div></a>
        <a href="/Repertory/Heart"><div id="DivHeart"></div></a>
        <a href="/Repertory/Pollianna"><div id="DivPollianna"></div></a>
        <a href="/Repertory/WhyPeopleLive"><div id="DivWhatPiopleLive"></div></a>
        <a href="/Repertory/NotNormal"><div id="DivWhoAreYou"></div></a>

</div>

</body>

</html>


