<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/GalleryStyle.css" rel="stylesheet" type="text/Scss">
    <link href="~/Content/slaider.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>

    <div id="HeadDiv" style="left: 0px; top: 0px; width: 1120px; height: 94px;" class="auto-style1">
        <img alt="" height="840" src="~/Content/img/Gallery/gallery.jpg" width="1120" id="BossImg" style="left: 7px; top: -18px">
        <img alt="" height="70" src="~/Content/img/menu/Админ.png" width="217" id="Админ">
        <img alt="" height="88" src="~/Content/img/menu/Спб.png" width="352" id="Спб">
        <img alt="" src="~/Content/img/menu/ГлавноеMеню.png" id="ГлавноеMеню">
        <img alt="" src="~/Content/img/Gallery/Репертуар.png" id="Надпись">

        <div id="Gallery">
            <div class="slider" style=" width: 515px; height: 360px">
                <ul>
                    
                    @RenderBody()

                </ul>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="~/SCRIPTS/slaider.js"></script>
</body>
</html>
