body{
	margin: 0;
	background-color: #C0A0AB;
}

#HeadDiv{
	position:relative;
	width:1120px;
	margin: 0px auto;
}

#BossImg{
	position: absolute;
	z-index:0;
}
#Админ{
	position: absolute;
	left: 819px; 
	top: 76px; 
}
#Спб{
	position: absolute;
	left: 746px; 
	top: 0px; 
}
#ОТеатре{
	position: absolute;
	top:0px;
	left:471px;
	
}
#ГлавноеMеню{
	position:absolute;
	top:0px;
	left:67px;
}