body{
	margin: 0;
	background-color: #C0A0AB;
}

#HeadDiv{
	position:relative;
	width:1120px;
	margin: 0px auto;
}

#BossImg{
	position: absolute;
	z-index:0;
}
#Админ{
	position: absolute;
	left: 819px; 
	top: 76px; 
}
#Спб{
	position: absolute;
	left: 746px; 
	top: 0px; 
}
#ПартнерыНадпись{
	position: absolute;
	top:0px;
	left:471px;
	
}
#ГлавноеMеню{
	position:absolute;
	top:0px;
	left:67px;
}

#ПКЦ{
	position:absolute;
	left: 315px; top: 249px; width: 505px; height: 192px;
}
#Груз{
	position:absolute;
	left: 314px; top: 469px; width: 497px; height: 99px;
}

